API/bin/*
API/obj/*
API/out/*

API.ATs/bin/*
API.ATs/obj/*
API.ATs/out/*

API.Tests/bin/*
API.Tests/obj/*
API.Tests/out/*

Application/bin/*
Application/obj/*
Application/out/*

Domain/bin/*
Domain/obj/*
Domain/out/*

Persistence/bin/*
Persistence/obj/*
Persistence/out/*

out/*